* {
   /* outline: 2px dotted rgb(0, 0, 0); */
   margin: 0;
   padding: 0;
   color:  hsl(200, 39%, 95%);
   /* color: #  29    b8    ff;
       rgb =   (red  green   blue) ; */
}

body {
    width: 960px;
    margin: 0 auto;
}
.pizzaImageSize {
    height: 150px;
    width: 250px; 
}

header {
    margin-top: 15px;
    background-color: rgb(16, 96, 175);
    height: 200px;
}


header a {
    color: #dff5fb;
    font-size: 24px;
}

h1{
    padding: 25px;
    padding-left: 60px;
    font-size: 60px;
}

nav {
clear: both;
}

nav ul {
    text-align: center;

}
nav li {
    display: inline-block;
    margin-top: 25px;
    margin-right: 25px;
    list-style-type: none;
}

a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}


h2{
    color: rebeccapurple;
}
main {
    clear:both;
    text-align: center;
}



main li {
list-style-type: none;
float: left;
margin-top: 30px;
margin-right: 30px;
margin-bottom: 30px;
}


main li:last-child {
    margin-right: 0px;
}
.addMargin {
    margin-left: 75px;
}


main li:nth-child(4) {
    margin-left: 75px;
}


button {
    color: rgb(14, 63, 128);
    margin-top: 55px;
    height: 75px;
    width: 150px;
    border-radius: 15px;
    font-size: 30px;
    border: 4px solid rgb(14, 63, 128);
}

#topSpace {
    margin-top: 30px;
}

footer {
    clear: both;
    height: 225px;
    background-color: #43adbb;
    color: whitesmoke;
    font-size: 30px;
    margin-bottom: 50px;
    text-align: center;
}